<div class="sn-group">
  <h5>Transfer Certificate</h5>
  <nav>
    <a class="sn-link" href="{% url 'tc:all_tc' %}">
      <i class="fas fa-book"></i>Pending Applications
    </a>
    <a class="sn-link" href="{% url 'tc:printpendingapplications' %}" target="_blank">
      <i class="fas fa-book"></i>Print All Pending Applications
    </a>
    <a class="sn-link" href="{% url 'tc:all_issued_tc' %}">
      <i class="fas fa-book"></i>Issued TC
    </a>
    <a class="sn-link" href="{% url 'tc:issueprintpendingapplications' %}" target="_blank" onclick="return confirm('Do you want to issue tc for all pending applicants?')" >
      <i class="fas fa-book"></i>Issue and Print All pending Applications
    </a>
  </nav>
</div>