{% extends 'dashboard.html' %}

{% block dashboard-body %}

<div class="row">
  <div class="col-9">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Registration</th>
          <th scope="col">Name</th>
          <th scope="col">Classroom</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for tcapplication in tcapplications %}
        <tr>
          <th scope="row">
            <a href="{%url 'tc:application_view' pk=tcapplication.id %}">
              {{ tcapplication.tcNumber}}
          </th>
          <th scope="row">
            <a href="{%url 'tc:application_view' pk=tcapplication.id %}">
              {{ tcapplication.student.admission_number}}
          </th>
          <th scope="row">
            <a href="{%url 'tc:application_view' pk=tcapplication.id %}">
              {{ tcapplication.student.name}}
          </th>
          <th scope="row">
            <a href="{%url 'tc:application_view' pk=tcapplication.id %}">
              {{ tcapplication.activeclassroom}}
          </th>
          <th scope="row">
            <a href="{%url 'tc:tc_issue_view' pk=tcapplication.id %}">
              issue </a>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}