{% extends 'dashboard.html' %}

{% block dashboard-body %}

<div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">TC Number</th>
          <th scope="col">Admission Number</th>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for tcapplication in tcapplications %}
        <tr>
          <th scope="row">
              {{ tcapplication.tcNumber}}/{{ tcapplication.tcYear}}
          </th>
          <th scope="row">
              {{ tcapplication.student.admission_number}}
          </th>
          <th scope="row">
              {{ tcapplication.student.name}}
          </th>
          <th scope="row">
              {{ tcapplication.student.department}}
          </th>
          <th scope="row">
            <a href="{%url 'tc:tc_print_view' pk=tcapplication.student.id %}" class="btn lio-primary-bg text-light" target="_blank">Print TC</a>
            <a href="{%url 'tc:cancel_tc' pk=tcapplication.student.id %}" class="btn lio-primary-bg text-light" onclick="return confirm('Are you sure to delete?')" >Delete</a>
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}